p { margin-top: 8px; }
p.verse { margin-left: 3%; }

.example { margin-left: 3%; }
.src { margin-left: 3%; }
/* For quote */
blockquote { border-left: thin solid #000000; margin-left: 3%; padding: 0 0 0 5; }

h1 { margin-top: 25px; margin-bottom: 10px; }
h2 { margin-top: 25px; margin-bottom: 18px; margin-left: -10px; text-decoration: none; border-bottom: 3px double #000000; }
h3 { margin-top: 8px; margin-bottom: 14px; margin-left: -10px; text-decoration: none; border-bottom: 1px solid #aaaaaa; }
h4 { margin-top: 8px; margin-bottom: 14px; margin-left: -10px; text-decoration: underline; }
pre { width: 570px; background: #3c3c3c; color: white; border-style:solid; border-width:1px; border-color: blue; padding: 7px 20px 7px 9px; font-size: 12px; overflow: auto; }
blockquote { font-size: 13px; }
p.image img { max-width: 630px; }
table.muse-table { width: 570px; margin: 0; font-size: 13px; border-collapse: collapse; background: #e2effa; border: 1px solid #aadeed; }
table.muse-table tbody td { border: 1px solid #ccdeed; }

/* nested sections */
.section { margin: 0; padding: 10px; margin-bottom: 10px; font-size: 13px; margin-left: -10px; }
.section .section { margin: 0; margin-left: 0px; font-size: 13px; }
.title { margin: 0; padding; 0 }

/* #sec2 { margin-left: 20px; } */

.image-caption { font-size: 17px; margin-top: 20px; }

/* Diary section */
#diary p { margin-top: 1em; }

/* Tasks section */
.task .A { color: red }
.task .B { color: green }
.task .C { color: navy }
.task .done      { color: gray; text-decoration: line-through; }
.task .cancelled { color: gray; text-decoration: italic; }

/* Notes section */
.note { margin-top: 1.5em; }
.note .anchor  { float: left; margin-right: 5px; }
.note .details { margin-top: .5em; }

