/* BODY {  */
/*     /\* font-size: 300%; *\/ */
/* scrollbar-3dlight-color:#000000; */
/* scrollbar-arrow-color:#000000; */
/* scrollbar-track-color:#811788; */
/* scrollbar-darkshadow-color:#811788; */
/* scrollbar-face-color:#ffffff; */
/* scrollbar-highlight-color:#811788; */
/* scrollbar-shadow-color:#000000 */
/* } */

/* A:link {color:#000000; font-size:9pt; text-decoration:none;} */
/* A:visited {color:#000000; font-size:9pt; text-decoration:none;} */
/* A:active {color:#043C86; font-size:9pt; text-decoration:none;} */
/* A:hover {color:#811788; font-size:9pt; text-decoration:underline;} */

html, body { height: 100%; }

/* div { border: 0px; margin:100; padding:0 0 0 0; } */
table,td,tr,img { border: 0px; border-spacing: 0px; margin:0px; padding:0px 0px 0px 0px; font-size:0px; }


div { border: 0px; margin:0; padding:0 0 0 0; }

div.body { width:890px ;margin:0 auto;text-align:left; font-size: 1px; }

.menu_top, .menu_middle{position:relative; float:left;}




/* Menu top */
.menu_top_three, .menu_top_line_two, .menu_top_two, .menu_top_line_one, .menu_top_one{position:relative; float:left;}

div.menu_top_one { width: 107px; height: 10px; background-color: black; }
div.menu_top_line_one { width: 1px; height: 10px; background-color: white; }
div.menu_top_two { width: 680px; height: 10px; background-color: white; }
div.menu_top_line_two { width: 2px; height: 10px; background-color: white; }
div.menu_top_three { width: 100px; height: 10px; background-color: white; }


/* Menu middle */
.menu_middle_three, .menu_middle_line_two, .menu_middle_two, .menu_middle_line_one, .menu_middle_one{position:relative; float:left;}

div.menu_middle_one { width: 107px; height: 25px; background-color: white; }
div.menu_middle_line_one { width: 1px; height: 25px; background-color: black; }
div.menu_middle_two { width: 680px; height: 25px; background-color: white; }
div.menu_middle_line_two { width: 2px; height: 25px; background-color: black; }
div.menu_middle_three { width: 100px; height: 25px; background-color: white; }

#icon_all { display:block; font-size:13px; margin-left: 10px; width: 53px; height: 25px; background:url("img_all1.gif") no-repeat 0 0; }
#icon_all:hover { background:url("img_all2.gif") no-repeat 0 0; }

#icon_jobs { display:block; font-size:13px; margin-left: 10px; width: 53px; height: 25px; background:url("img_job1.gif") no-repeat 0 0; }
#icon_jobs:hover { background:url("img_job2.gif") no-repeat 0 0; }

#icon_home { display:block; font-size:13px; margin-right: 10px; width: 53px; height: 25px; background:url("img_main1.gif") no-repeat 0 0;}
#icon_home:hover { background:url("img_main2.gif") no-repeat 0 0; }

div.menu_cell { float:left; display:block; width: 53px; height: 25px; }
div.menu_cell_right { float:right; display:block; margin-right: 10px; width: 53px; height: 25px; }


/* Menu line. This is horizontal line. */
div.menu_h_one { float:left; width: 107px; height: 1px; line-height: 1px; font-size: 1px; background-color: white; }
div.menu_h_line_one { float:left; width: 1px; height: 1px; line-height: 1px; font-size: 1px; background-color: black; }
div.menu_h_two { float:left; width: 680px; height: 1px; line-height: 1px; font-size: 1px; background-color: black; }
div.menu_h_line_two { float:left; width: 2px; height: 1px; line-height: 1px; font-size: 1px; background-color: black; }
div.menu_h_three { float:left; width: 100px; height: 1px; line-height: 1px; font-size: 1px; background-color: white; }

/* Menu bottom */
div.menu_bottom_one { float:left; width: 107px; height: 15px; background-color: white; }
div.menu_bottom_line_one { float:left; width: 1px; height: 15px; background-color: black; }
div.menu_bottom_two { float:left; width: 680px; height: 15px; background-color: #aaaaaa; }
div.menu_bottom_line_two { float:left; width: 2px; height: 15px; background-color: black; }
div.menu_bottom_three { float:left; width: 100px; height: 15px; background-color: white; }

/* Content */
div.content { float:left;}
/* div.content_main { font-size: 13px; float:none; width: 639px !important; padding: 20px 20px 5px 20px; } */
/* div.content_comment { float:none; min-height: 40px; width: 612px !important; padding: 0px 20px 20px 20px; } */
div.content_main { font-size: 15px; float:none; width: 639px }
div.content_comment { float:none; min-height: 40px; width: 612px }

/* ******** */
/* Comments */
/* ******** */
table.comment { font-size: 10px; float: left; width: 610px; }
td.comment_name { font-size: 11px; width: 70px; font-weight: bold; vertical-align: text-top; }
td.comment_content { font-size: 13px; max-width: 450px; padding: 3px 20px 5px 10px; vertical-align: text-top; }
td.comment_date { width: 50px; font-size: 8px; vertical-align: text-top; }
td.comment_vline { width: 4px; height: 100%; background-color: #6f9ce0; }/* #F8F8F8; } */
td.comment_hline { height: 13px; }

/* Textarea */
textarea.comment { width: 560px; min-height: 50px; border: 1px solid #cccccc; padding: 5px; font-family: Tahoma, sans-serif; resize: none; }
textarea.comment { width: 560px; height: 50px; border: 1px solid #cccccc; padding: 5px; font-family: Tahoma, sans-serif; resize: none; }
input.comment { font-size: 12px; width: 80px; border: 0; border-bottom: 1px solid silver; }
input.comment_submit { font-size: 12px; width: 65px; border: 1px solid black; }


/* All List */

div.column { padding: 2px 0px 2px 0px; }
div.column { margin:0 auto;text-align:left; font-size: 1px; }
td.column_idx { width: 70px; font-size:9px; display:none; }
td.column_num { width: 70px; font-size:9px; }
td.column_title { width: 300px; font-size:13px; }
td.column_tag { width: 100px; font-size:13px; }
td.column_comments_count { width: 20px; font-size:13px; }
/* For headers */
td.column_num_h { width: 70px; font-weight: bold; font-size: 15px; }
td.column_title_h { width: 300px; font-weight: bold; font-size: 15px; }
td.column_tag_h { width: 100px; font-weight: bold; font-size: 15px; }
td.column_b_n_t { width: 10px; }
td.column_b_t_c { width: 20px; }


/* content_job */
td.job_column_title 	{ width: 400px; font-size: 13px; }
td.job_column_title_h 	{ width: 400px; font-weight: bold; font-size: 15px; }
td.job_column_corname 	{ width: 130px; font-size:13px; }
td.job_column_corname_h { width: 130px; font-weight: bold; font-size: 15px; }

/* Job spams */
td.column_num_spam { width: 70px; font-size:9px; }
td.job_column_title_spam 	{ width: 400px; font-size: 13px; color:#EEEEEE; }
td.job_column_corname_spam 	{ width: 130px; font-size:13px; color:#EEEEEE; }
td.job_column_title_spam a:link { color:#DBDBDB; }


/* sep_line */
div.sep_line { height:0px; border-top:  1px solid #00ff00; border-bottom: 0px; border-left: 0px; border-right: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }


/* tr:hover, tr:hover + tr { */
/* background:#eee; } */

/* tr:hover { */
/*     background-color: red; */
/* } */
/* tr:first-child:hover { */
/*     background-color: white; */
/* } */

div.column:hover { background-color: #eee; }


/* User Info */
div.user_info { position: relative; top: 0px; left: 1px; z-index: 999; font-size: 10px; float:none; width: 107px; height: 23px; valign: text-top; }

#form_login { display: inline; }


#signup { width: 404px; padding-bottom: 2px; background: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7); }
#signup-header { background: url(modal_hd_bg.png); padding: 18px 18px 14px 18px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
#signup-header  h2 { color: #444; font-size: 2em; font-weight: 700; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#signup-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }
#signup .txt-fld { position: relative; width: 364px; padding: 14px 20px; border-bottom: 1px solid #EEE; text-align: right; }
#signup .btn-fld { width: auto; overflow: hidden; padding: 12px 20px 12px 10px; }
#signup .txt-fld label { display: block; float: left; width: 90px; padding-top: 8px; color: #222; font-size: 1.3em; text-align: left;  }
#signup .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
#signup .txt-fld input.good_input { background: #DEF5E1 url(modal_good.png) 236px center no-repeat; }
#signup .txt-fld input.error_input { background: #FDE0E0; }

.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(modal_close.png); z-index: 2; }

/* Login button */
#login_submit { float: right; font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;	background: #3F9D4A; border: none; display: block; width: auto; overflow: visible; font-size: 18px; color: #FFF; padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4); }        
#login_sign_submit { float: left; font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;	background: #3F9D4A; border: none; display: block; width: auto; overflow: visible; font-size: 13px; color: #FFF; padding: 7px 10px; margin: 10px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);}

#sign_submit { float: right; font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;	background: #3F9D4A; border: none; display: block; width: auto; overflow: visible; font-size: 18px; color: #FFF; padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);}


#login_submit:hover{ solid #999;color:#000; }
#sign_submit:hover{ solid #999;color:#000; }
#sign_submit_inlogin:hover{ solid #999;color:#000; }
