{% extends "jinja_common.html" %}
{% block content %}
<div class="content_list">
  <div class="column_header">
    <table class="list_table">
      <tr>
        <td class="column_num_h">Idx</td>
        <td class="column_b_n_t"></td>
        <td class="job_column_title_h">Title</td>
        <td class="column_b_t_c"></td>
        <td class="job_column_corname_h">Corp</td>
      </tr>
    </table>
  </div>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="650" height="1px">
	<img src="medias/img_line.gif" height="1px" width="90%">
      </td>
    </tr>
  </table>

  <!-- For loop start -->
  <!-- End loop -->
  {% include 'content_page_request.html' %}
  <div id="ajax_more_jobs" style></div>

  <div id="loadmoreajaxloader" style="display:none;"><center>Loading ...</center></div>

  <div id="endmoreajaxloader" style="display:none;"><center>No more content.</center></div>

  <div id="more_jobs_button">
    <center><a href="javascript:void(0)" onclick="window.scrollOnce()">More Jobs</a>
    </center>
  </div>



</div>



{% endblock %}


